/* file: paymentResult.css */
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');

* {
  box-sizing: border-box;
}

.ticket-system {
  max-width: 600px; /* Tăng chiều rộng tối đa */
  margin: 0 auto;
  padding-top: 50px;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: #49735A;; 
  font-weight: 500; 
  font-size: 24px; 
  text-align: center;
  margin-bottom: 20px; 
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
.printer {
  width: 100%;
  height: 20px;
  border: 5px solid #fff;
  border-radius: 10px;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.2);
  
}

.receipts-wrapper {
  overflow: hidden;
  margin-top: -10px;
  padding-bottom: 10px;
}
.receipts {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(-510px);
  animation: print 2.5s ease forwards;
  animation-delay: 0.5s;
}

.receipt {
  background: #fff;
  width: 95%; /* Tăng chiều rộng hóa đơn */
  padding: 25px 30px;
  border-radius: 12px 12px 20px 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  text-align: left;
}
.receipt-title {
  text-align: center;
  margin-bottom: 25px;
  color: #2f3e2f;
}

.details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.item {
  width: 48%;
  margin-bottom: 20px;
}
.item span {
  font-size: 0.85em;
  color: #888;
}
.item h3 {
  margin: 6px 0 0 0;
  font-size: 1.1em;
  color: #222;
}

.footer-btn {
  text-align: center;
  margin-top: 30px;
}
.btn-back {
  display: inline-block;
  background: #68a068;
  color: #fff; 
  text-decoration: none;
  padding: 10px 18px;
  border-radius: 6px;
  transition: background 0.3s ease;
}
.btn-back:hover {
  background: #49735A;
  color: #fff;
}

.qr-code {
  margin-top: 1px;
  height: 110px;
  background: #fff;
  border-radius: 20px 20px 10px 10px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  position: relative;
}
.qr-code::before {
  content: '';
  background: linear-gradient(to right, #fff 50%, #49735A 50%); /* Màu cho thanh phân cách */
  background-size: 22px 4px;
  height: 4px;
  width: 90%;
  position: absolute;
  top: -1px;
  left: 0;
  right: 0;
  margin: auto;
}
.qr {
  width: 60px;
  height: 60px;
}
.description {
  margin-left: 20px;
}
.description h2 {
  margin: 0 0 5px 0;
}
.description p {
  margin: 0;
  font-size: 0.9em;
  color: #666;
}

@keyframes print {
  0% {
    transform: translateY(-510px);
  }
  35% {
    transform: translateY(-395px);
  }
  70% {
    transform: translateY(-140px);
  }
  100% {
    transform: translateY(0);
  }
}