.detail-rating-wrapper {
  padding: 30px;
  background-color: #fdfdfd;
  min-height: 100vh;
}

h2 {
  margin-bottom: 20px;
  color: #49735a;
}

.rating-summary {
  display: flex;
  justify-content: space-between;
  background-color: #eaf4ee;
  padding: 15px;
  margin-bottom: 25px;
  border-radius: 8px;
}



.rating-number {
  margin-left: 10px;
  font-weight: bold;
  color: #49735a;
}

.rating-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* .rating-item {
  background: #f2f2f2;
  padding: 15px;
  border-radius: 6px;
  border-left: 5px solid #49735a;
} */

.rating-item {
  background: whitesmoke;
  padding: 15px;
  border-radius: 6px;
  border-left: 5px solid #49735a;
  transition: all 0.3s ease; 
}

.rating-item:hover {
  transform: translateY(-3px); 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); 
  background-color: #eaf4ee; 
  transform: scale(1.02);
}


.comment {
  font-style: italic;
  margin: 5px 0;
}

.info {
  font-size: 13px;
  color: #777;
}

.no-rating {
  margin-top: 30px;
  font-style: italic;
  color: #888;
}


.back-btn {
  margin-top: 20px;
  margin-bottom: 16px;
  padding: 6px 12px;
  background-color: white;
  color: #49735a;
  border: 1px solid #49735a;
  transition: all 0.3s ease;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
}

.back-btn:hover {
  background-color: #49735a !important;
  color: white !important;
  border: 1px solid #49735a !important;
}

