.not-found-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.not-found-content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  background-color: #f9f9f9;
}
