.property-not-found {
  padding: 24px;
}

.property-main-image-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.property-main-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 12px;
}

.favorite-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  background: white;
  border-radius: 50%;
  padding: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  z-index: 10;
  cursor: pointer;
  border: none;
}


.property-gallery-image {
  width: 100%;
  height: 190px;
  object-fit: cover;
  border-radius: 8px;
}

.property-main-content {
  margin-top: 24px;
}

.property-title {
  font-size: 28px;
  margin-bottom: 8px;
}

.property-location {
  color: #555;
  margin-bottom: 16px;
}

.property-summary {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 24px;
  font-size: 16px;
}

.booking-card {
  padding: 24px;
  background-color: #f9f9f9;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 100px;
}

.booking-price {
  font-size: 24px;
  margin-bottom: 16px;
}

.booking-dates {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}

.booking-guests {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}

.booking-costs {
  font-size: 16px;
  margin-bottom: 8px;
}

.cost-row {
  display: flex;
  justify-content: space-between;
}

.total-cost {
  font-weight: bold;
}

.booking-button {
  background-color: #004d47;
  color: white;
  width: 100%;
  border-radius: 8px;
  margin-top: 16px;
}

.booking-note {
  font-size: 12px;
  margin-top: 8px;
  text-align: center;
}

.property-amenities {
  margin-top: 24px;
}

.amenity-item {
  display: flex;
  align-items: center;
  gap: 12px;
}

.amenity-icon {
  font-size: 24px;
}

.amenity-note {
  font-size: 12px;
}

.map-container {
  height: 400px;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 16px;
}

.map-leaflet {
  height: 100%;
  width: 100%;
}

.text-heading {
  text-align: center;
  margin-bottom: 32px;
}

.policy-list {
  list-style: none;
  padding-left: 0;
  line-height: 2;
}